# Archivos de usuarios

/presentacion/contrato/documentos/
/presentacion/evaluacion/documentos/
/presentacion/historial/documentos/
/presentacion/hojaDeVida/documentos/
/presentacion/hojaDeVida/fotos/
/presentacion/Novedades/documentos/


# Base de datos / backups


*.sql

# Archivos del sistema

Thumbs.db
.DS_Store


# Configuración sensible

.env
config.php
conexion.php
configuracion_.ini
configuracion.ini


# Logs

*.log

db medicron v1.1 .sql